.movie-container {
  width: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
}

.movie-info-container {
  margin: auto;
  margin-top: 30px;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 500px;
  border-radius: 10px;
  background-color: white;
  position: relative;
  box-shadow: 0px 2px 12px 3px rgba(90, 90, 90, 0.134);
  min-width: 780px;
}

.movie-image-container {
  display: flex;
}

.movie-image {
  border-radius: 10px;
  height: 100%;
  max-height: 500px;
}

.movie-name {
  margin-top: 30px;
  font-weight: 600;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 45px;
  color: rgb(43, 43, 43);
}

.movie-summary {
  display: block;
  margin: 17px;
  overflow-y: auto;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(58, 58, 58);
  max-height: 370px;
  margin-top: 20px;
}

.other-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  position: absolute;
  left: 360px;
  bottom: 10px;
  white-space: nowrap;
}

.movie-genres,
.movie-dates {
  border-radius: 10px;
  box-shadow: 0px 2px 12px 3px rgba(90, 90, 90, 0.134);
  padding: 5px;
}

.movie-rating {
  border-radius: 10px;
  box-shadow: 0px 2px 12px 3px rgba(90, 90, 90, 0.134);
  padding: 5px;
  white-space: nowrap;
}

.movie-character-container {
  margin: auto;
  width: 90%;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  box-shadow: 0px 2px 12px 3px rgba(90, 90, 90, 0.134);
  background-color: white;
  border-radius: 6px;
  position: relative;
}

.movie-character-image {
  border-radius: 6px;
}

.movie-character-name {
  color: rgb(255, 255, 255);
  font-weight: 500;
  position: relative;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.movie-seasons-container {
  margin: auto;
  display: flex;
  width: 90%;
  overflow-x: auto;
  overflow-y: hidden;
  background-color: white;
  box-shadow: 0px 2px 12px 3px rgba(90, 90, 90, 0.134);
  border-radius: 6px;
}

.movie-season-image {
  border-radius: 6px;
  margin: auto;
}

.seasons-text {
  margin-top: 28px;
  margin-bottom: 10px;
  color: rgb(49, 49, 49);
  font-size: 30px;
  font-weight: 500;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.movie-characters-text {
  margin-top: 28px;
  margin-bottom: 10px;
  color: rgb(49, 49, 49);
  font-size: 30px;
  font-weight: 500;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

@media (max-width: 600px) {

}