.movie-container {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.movie-info-container {
  width: 90%;
  height: 500px;
  margin-top: 40px;
  border-radius: 6px;
  background-color: white;
  box-shadow: 0px 2px 12px 3px rgba(90, 90, 90, 0.134);
  display: flex;
  flex-direction: row;
  min-width: 660px;
  position: relative;
}

.movie-image-container {
  display: flex;
}

.movie-image {
  background-size: contain;
  border-radius: 6px;
  max-height: 600px;
}

.movie-name {
  display: flex;
  justify-content: center;
  margin: 15px 0px 15px 0px;
  font-size: 35px;
  font-weight: 500;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(43, 43, 43);
}

.movie-summary {
  display: flex;
  justify-content: center;
  margin: 20px 70px 0px 70px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(58, 58, 58);
  overflow: auto;
  max-height: 360px;
  max-width: 800px;
}

.other-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  position: absolute;
  bottom: 10px;
  margin-left: 10px;
}

.movie-genres, .movie-dates {
  border-radius: 10px;
  box-shadow: 0px 2px 12px 3px rgba(90, 90, 90, 0.134);
  padding: 5px;
}

.movie-rating {
  border-radius: 10px;
  box-shadow: 0px 2px 12px 3px rgba(90, 90, 90, 0.134);
  padding: 5px;
  white-space: nowrap;
}

.movie-cast-container {
  position: absolute;
  margin-top: 30%;
  margin-left: -340px;
  max-width: 100%;
  min-width: 50%;
  display: flex;
  flex-direction: row;
  overflow: auto;
  padding: 10px;
  border-radius: 6px;
  background-color: white;
  box-shadow: 0px 2px 12px 3px rgba(90, 90, 90, 0.134);
  justify-content: space-between;
  max-height: 400px;
}

.movie-character-image {
  position: relative;
  border-radius: 6px;
  display: flex;
}

.movie-character-name {
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
  top: 220px;
  right: 120px;
  color: rgb(255, 255, 255);
  font-weight: 500;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
