.search-bar-container {
  margin-left: 10px;
  margin-top: 22px;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 50px;
  background-color: rgb(255, 255, 255);
  border-radius: 6px;
  box-shadow: 0px 2px 12px 3px rgba(90, 90, 90, 0.134);
  overflow: hidden;
}

#dark .search-bar-container {
  background-color: rgb(55, 55, 55);
  box-shadow: 0px 2px 12px 3px rgb(35, 35, 35);
}

.search-input-container {
  width: 100%;
  min-height: 50px;
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 10px;
}

.search-input {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  font-size: 19px;
  color: rgb(73, 73, 73);
  font-weight: 500;
  border-radius: 6px;
  background-color: transparent;
}

#dark .search-input {
  color: rgb(143, 143, 143);
}

.search-input:focus {
  outline: none;
}

.search-input::placeholder {
  color: rgb(193, 193, 193);
  transition: all 250ms ease-in-out;
}

#dark .search-input::placeholder {
  color: rgb(145, 145, 145);
}

.search-input:focus::placeholder {
  opacity: 0;
}

.search-icon {
  color: rgb(132, 131, 131);
  font-size: 24px;
  margin: 0px 15px 0px 5px;
  vertical-align: middle;
}

.close-icon {
  color: rgb(178, 178, 178);
  font-size: 19px;
  margin: 2px 25px 0px 0px;
  vertical-align: middle;
  transition: all 200ms ease-in-out;
  cursor: pointer;
}

.close-icon:hover {
  color: rgb(238, 238, 238);
}

.search-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  overflow-y: auto;
}

.line-separator {
  display: flex;
  min-width: 100%;
  min-height: 2px;
  background-color: rgba(218, 218, 218, 0.388);
}

.search-bar-loading-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.warning-message {
  color: rgb(113, 113, 113);
  font-size: 14px;
  display: flex;
  align-self: center;
  justify-self: center;
}
